body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    
}

.header {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    font-size: 44px;
}

.playerOptions {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: tan;
}

.playerOption {
    padding: none;
    margin: none; 
    border: none; 
    background-color: tan;
}

.pic {
    width: 175px;
    border-radius: 10px;
    padding: none;
    margin: none;
    border: none;
}

ul {
    list-style: none;
}

.selections {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.results {
    
}

#message {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 42px;
    font-weight: bold;
}

.scoreList  {
    display: flex;
    justify-content: space-evenly;
}

.score {
    padding-top: 20px;
}

#finalMessage {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 44px;
    font-weight: bold;
}

.selection {
    font-size: 30px;
}

.score {
    font-size: 32px;
    color: rgb(37, 6, 215);
}
